@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-50;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #f8fafc;
  }

  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #020617;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #22d3ee, #d946ef, #f59e0b);
    border-radius: 9999px;
  }
}
